@media only screen and (max-width: 1199px){
    header nav{
        display: none;
    }
    header .burger{
        display: inline-flex;
        justify-content: flex-end;
        margin-top: -96px;
    }
    .section_fourth .audio_cards p {
        font-size: 20px;
    }
}
@media only screen and (max-width: 991px){
    .section_fifth .section_fifth_titles {
        margin-top: 218px;
    }
    .section_fifth .section_fifth_img {
        margin-bottom: 100px;
    }
    .section_fifth .div-3 {
        margin-bottom: 250px;
    }
    .section_sixth .card-2 {
        margin-bottom: 0px;
    }
    .section_sixth .section_sixth_img {
        margin-bottom: 0px;
    }
    .section_sixth .img-1 {
        margin-bottom: 218px;
    }
    .section_fourth .section_fourth_img {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 767px){
    .section_second .card1 {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 665px){
    .section_first .section_first_titles img{
        width: 100%;
    }
    .section_first .section_first_titles h1{
        font-size: 48px;
    }
    .section_first .section_first_titles button {
        font-size: 20px;
    }
    .section_third .section_third_titles h2 {
        font-size: 48px;
    }
    .section_fifth .section_fifth_titles h2 {
        font-size: 48px;
    }
}
@media only screen and (max-width: 445px){
    .section_fourth .audio_button {
        justify-content: flex-start;
        margin-top: 0px;
    }
}
@media only screen and (max-width: 355px){
    .section_fifth .section_fifth_img img{
        width: 100%;
    }
}